<p id="notice"><%= notice %></p>

<h1>Listing Device Sensors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Posision</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_sensors.each do |device_sensor| %>
      <tr>
        <td><%= device_sensor.name %></td>
        <td><%= device_sensor.posision %></td>
        <td><%= device_sensor.device %></td>
        <td><%= link_to 'Show', device_sensor %></td>
        <td><%= link_to 'Edit', edit_device_sensor_path(device_sensor) %></td>
        <td><%= link_to 'Destroy', device_sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device sensor', new_device_sensor_path %>
